/*main toolbar*/

.mainToolbar {
    width: 15%;
    height: 1080px;
    background-color: #39415e;
}

.ui.fixed.menu {
    width: 298px;
    height: 1080px;
    background-color: #39415e;
}