.previewArea {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.tourPreview {
  width: 30vw !important;
  height: 120vh;
  background-image: url("../images/blankPhoto.png");
  background-repeat: no-repeat;
  padding: 3%;
  padding-top: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: hidden;
  margin-left: 50px;
}

.img {
  max-width: 100%;
  height: auto;
}

.topHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3%;
}

.tourName {
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
  letter-spacing: normal;
  text-align: right;
  color: #434040;
}

.tourPrice {
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.28px;
  text-align: right;
  color: #ff8900;
}

.tourType {
  font-family: Hind;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.4px;
  color: #ff8900;
}

.subHeader {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 8%;
}

.subHeaderStop {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.iconItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 4%;
  width: 160px;
}

.iconItem img {
  width: 25px;
  height: 25px;
}

.descHeader .notesHeade {
  font-size: 18px;
  height: 28px;
  letter-spacing: 0.06px;
}

.tourDesc .tourNotes {
  font-family: PloniDL1.1AAA;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: 0.05px;
  color: #9c9c9c;
}

.tourDescription {
  padding: 3%;
}

.tourNotes {
  padding: 3%;
}

.ratingStar {
  color: #ff8900;
}

.tourRate {
  margin: 5px;
}

.List {
  width: 200px;
  height: 210px;
  background-color: #ffffff;
}

.pruchaseButton {
  width: 313px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.21);
  background-color: #f8a12a;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.05px;
  text-align: center;
  color: #ffffff;
  margin: auto;
}